@model IEnumerable<Folder>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Path:</h1>
<h3>@Configuration.GetSection("Paths")["ServerPath"].Split("\\")[1]</h3>
<div class=""></div>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Name)*@
                @if (item.Location == Configuration.GetSection("Paths")["ServerPath"])
                {
                    @item.Name
                    <a class="fa-solid fa-pen-to-square" asp-action="Edit" asp-route-id="@item.Folderid">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Folderid">Delete</a>
                }
            </td>
        </tr>
    }
</table>